<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update WiFi</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
    <div class="form-container">
        <h3>Update WiFi Configuration</h3>

        <!-- Форма для редактирования и добавления данных -->
        <form action="/api/wifi/updateWiFi" method="post">
            <div class="form-row">
                <label for="ssid">SSID:</label>
                <input type="text" id="ssid" name="ssid" value="{{ wifi_info.ssid }}" readonly>
            </div>

            <div class="form-row">
                <label for="ssid_password">SSID Password:</label>
                <input type="password" id="ssid_password" name="ssid_password" required>
            </div>

            <div class="form-row">
                <label for="iwface">WiFi interface:</label>
                <input type="text" id="iwface" name="iwface" value="{{ wifi_info.iwface }}" required readonly>
            </div>

            <!-- Информация только для чтения -->
            <div class="info-container">
                <p><i>Interface:</i> {{ wifi_info.iface }}</p>
                <p><i>Frequency:</i> {{ wifi_info.frequency }}</p>
                <p><i>Mode:</i> {{ wifi_info.mode }}</p>
                <p><i>Security:</i> {{ wifi_info.security }}</p>
                <p><i>Signal Strength:</i> {{ wifi_info.signal_strength }}</p>
            </div>

            <p><strong>IP Addresses:</strong></p>
            <ul>
                {% for ip in wifi_info.ip_addresses %}
                    <li>{{ ip }}</li>
                {% endfor %}
            </ul>

            <div class="form-row">
                <label for="ip_addr_static">Static IP Address:</label>
                <input type="text" id="ip_addr_static" name="ip_addr_static"
                       value="{{ wifi_info.ip_addr_static }}" required>
            </div>

            <p><strong>Gateway:</strong> {{ wifi_info.gw }}</p>

            <p>
                <label for="nameservers">Preferred DNS Servers (comma separated):</label>
                <input type="text" id="nameservers" name="nameservers">
            </p>

            <button type="submit">Submit</button>
        </form>
    </div>
</body>
</html>
